@charset "UTF-8";
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0; border:none; }
body{font-size:14px;width:100%;color:#333;background: #fff; position: relative}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption, cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ol,ul,li {list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:' '}
abbr,acronym{border:0;}
.clearfix:after{content:'';display:block;clear:both;height:0;overflow:hidden;}
.clearfix{zoom:1;}
a{color:#333;text-decoration:none;}
a:hover{color:#67adee;}
.pr{position: relative;}
.tc{text-align: center;}
.tl{text-align: left!important;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt60{margin-top: 60px;}
.mt100{margin-top: 100px;}
em,i{font-style: normal;}
.c999{color: #999!important;}
.pt0{padding-top: 0!important;}
.orange{color: #ff7e33!important;}
.clear{
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.backTop {
    position: fixed;
    bottom: 100px;
    right: 40px;
    display: none;
}
.wrap{width: 1200px;min-width: 1200px;margin-left: auto;margin-right: auto;}
.banner .wrap{height: 100%;}
.banner .logo{width: 251px;height: 38px;display: block;background: url(../images/logo.png) 0 0 no-repeat; margin-top: 16px; float: left}
.banner .menu{
    float: left;
    margin-left: 120px;
    font-size: 18px;
    margin-top: 25px;
}
.banner .menu li{
    float: left;
    margin-right: 40px;
}
.banner .menu li.active{
    border-bottom:2px rgba(255,255,255,1) solid;
    border-radius:1px;
    height: 25px;
}
.banner .menu li a{
    color: #fff;
    display: block;
}
/*固定顶部的菜单*/
.fix-top{
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:rgba(255,255,255,1);
    box-shadow:0px 3px 9px 0px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: none;
}
.fix-top .logo{width: 257px;height: 38px;display: block;background: url(../images/logo2.png) 0 0 no-repeat; margin-top: 16px; float: left}
.fix-top .menu{
    float: left;
    margin-left: 120px;
    font-size: 18px;
    margin-top: 25px;
}
.fix-top .menu li{
    float: left;
    margin-right: 40px;
}
.fix-top .menu li.active{
    border-bottom:2px #484848 solid;
    border-radius:1px;
    height: 25px;
}
.fix-top .menu li a{
    color: #484848;
    display: block;
}
.fix-top .tel{
    width:252px;
    height:40px;
    background:rgba(255,113,104,1);
    border-radius:20px;
    float: right;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
    font-size:18px;
    color:rgba(255,255,255,1);
}
/*底部浮层*/
.bottom-fix-box{width:100%;height: 80px;background-color: #000\9;background-color: rgba(0,1,34,1);position: fixed;left: 0;bottom: 0;z-index: 999}
.bottom-fix-box .hot-tel{width: 300px;height: 80px;background: url(../images/bg-bot.png) 0 0 no-repeat;position: relative;float: left; padding: 20px 30px 0 40px; box-sizing: border-box; margin-right: 58px;}
.bottom-fix-box .hot-tel span{
    display: block;
    position: absolute;
    top: 16px;
    left: 96px;
    font-size:14px;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.bottom-fix-box .hot-tel .tel{font-size: 26px;position: absolute;top:35px;left: 95px;}
.bottom-fix-box .formbox{float: left;padding: 20px 0;}
.bottom-fix-box .formbox li{float: left;width: 158px;margin-right:10px;height: 38px;background-color: #fff;border-radius: 2px;padding: 0 5px;border:1px solid #ddd;}
.bottom-fix-box .formbox li .inptxt{width: 100%;height: 100%;height: 38px\9;line-height: 38px\9;*line-height:39px;font-size: 14px;outline: none;border:none;background: none;}
.bottom-fix-box .formbox li input::-webkit-input-placeholder{color: #767676;}
.bottom-fix-box .formbox li.tjli{width: 120px;padding: 0;position: relative;border:none;background: none;margin-right: 0;}
.bottom-fix-box .formbox li.tjli ._submit{background-color: #FF7168;color: #fff;font-size: 18px;width: 120px;height: 40px;border:none;border-radius: 2px;cursor: pointer;float: right;outline: none;-moz-user-select: none;}
.bottom-fix-box .formbox li.tjli .error{font-size: 12px;color: #FF7168;white-space: nowrap;position: absolute;right: 0;top:-18px;}
.jwh-bottom-fix-box .hot-tel{display: none;}
/*模拟选择框*/
.select{
    position: relative;
    height: 38px;
    line-height: 38px;
}
.select-input img{
    position: absolute;
    right: 10px;
    top: 14px;
    width: 17px;
    height: 9px;
}
.select .list{
    position: absolute;
    left: -1px;
    bottom:42px;
    width:150px;
    height:120px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius:2px;
    padding: 0 10px;
    display:none;
}
.select .partner{
    display: block;
    color:#767676 ;
}
.select .partner.gray{
    color:#000 ;
}
.select .list span{
    display: block;
    border-bottom: 1px #F1F1F1 solid;
}
.select .list span:last-child{
    border: none;
}
.select .list span:hover{
    color: #0C2E90;
    cursor: pointer;
}
